[submodule "vim/.vim/bundle/jedi-vim"]
	path = vim/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/.vim/bundle/fugitive"]
	path = vim/.vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/.vim/bundle/ctrlp"]
	path = vim/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
